@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300&family=Poppins:wght@700&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital@1&family=Sacramento&display=swap');
body{
background-color: #66b2b2;
font-family: 'Montserrat', sans-serif;
font-size: 1em;
}

.center-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    margin-bottom: 0%;
    min-height: 80%;
    max-height: 80%;
    max-width: 85%;
    min-width: 85%;
    border-radius: 3em;
    z-index: -1;

}
.image-block{
    position: fixed;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    height: 144px;
    min-height: 144px;
    width: 144px;
    min-width: 144px;
}
p{
    position: fixed;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25rem;
    
}
h3{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        text-align: center;
        width: 10em;
}
.button{
    position: fixed;
    left: 50%;
    top: 69%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}
.end{
    position: fixed;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
a:hover{
    color: purple;
}
.text{
    width: 7.5rem;
}
.mid-div{
    font-weight: 650;
}




/* Button CSS*/ /* Button CSS*/ /* Button CSS*/ /* Button CSS*/
.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }
   /*Css button ENDSSSSSSS*/
   
   @media screen and (max-width: 920px) {
    p {
        margin-top: 30px;
        font-size: 28px;
    }
    .mid-div {
        display: flex;
        margin: px 0;
    }
}